body {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 20px;
    margin: 0;
    min-height: 100vh;
}

.table-container {
    width:auto;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
}

.table thead th {
    background-color: rgba(255, 182, 193, 0.9) !important;
    color:whitesmoke !important;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center !important;
}

.table tbody tr td {
    background-color: rgba(245, 245, 245, 0.9) !important;
    font-size: 12px;
    text-align: center;
    color: black;

}

#url {
    text-align: justify;
}

